<a href="https://colab.research.google.com/github/ParhamPishro/Some-of-Algorithms-in-Data-Science/blob/main/2DimensionalityReduction/2.1FeatureSelection/2.1.2FS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Forward Selection

In [ ]:
#!pip install mlxtend

In [ ]:
#import libraries

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from mlxtend.feature_selection import SequentialFeatureSelector as sfs

In [ ]:
#read data
df = pd.read_excel('Escaperoom.xlsx')

C:\Users\ASUS\anaconda3\lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Unknown extension is not supported and will be removed
  for idx, row in parser.parse():
C:\Users\ASUS\anaconda3\lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Conditional Formatting extension is not supported and will be removed
  for idx, row in parser.parse():

In [ ]:
df.head()

,Number,M-F,Ave_Age,Prev_Ed,Ave_Exp,Ave_Fear,Hint,Ans,Plague,Progress,Victory
0,4,0.00,26.75,16,0.50,62.50,6,2,0,87,0
1,5,0.20,31.20,16,1.40,77.00,7,4,0,82,0
2,7,1.00,18.71,12,2.57,80.71,10,3,0,81,0
3,7,0.14,21.86,16,2.14,45.00,6,2,0,102,1
4,5,0.20,26.80,21,3.60,66.00,3,0,0,111,1

In [ ]:
X = df.drop(['Victory'],axis=1)
Y = df['Victory']

knn = KNeighborsClassifier(n_neighbors=5)

In [ ]:
sfs1 = sfs(rf, k_features=3, forward=True, verbose=2, scoring='accuracy')
sfs1 = sfs1.fit(X, Y)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.7s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  10 out of  10 | elapsed:    9.2s finished

[2023-01-26 22:52:03] Features: 1/3 -- score: 1.0[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.7s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   9 out of   9 | elapsed:    7.6s finished

[2023-01-26 22:52:11] Features: 2/3 -- score: 1.0[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.7s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   8 out of   8 | elapsed:    6.9s finished

[2023-01-26 22:52:18] Features: 3/3 -- score: 1.0

In [ ]:
features = list(sfs1.k_feature_names_)
print(features)

['Number', 'M-F', 'Progress']

In [ ]:
new_df = df[features]

new_df.head()

   Number   M-F  Progress
0       4  0.00        87
1       5  0.20        82
2       7  1.00        81
3       7  0.14       102
4       5  0.20       111